
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Press+Start+2P&display=swap');

body{
    --card-width: 18vmin;
    --card-height: 32vmin;
    
    --card-layout: radial-gradient(circle, rgba(255,0,0,0) 28%, rgba(0,0,0,1) 42%, rgba(255,255,255,1) 43%, rgba(0,0,0,1) 44%, rgba(255,0,0,0) 45%, rgba(255,0,0,0) 73%, rgba(0,0,0,1) 74%, rgba(255,0,0,0) 75%);

    --color-red: #e72d2d;
    --color-yellow: #FFD700;
    --color-green: #32CD32;
    --color-blue: #1E90FF;
}

ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

select {
    font-size: 16px;
}

#end-game-modal-trigger {
    display: none;
}

#end-game-modal-trigger.active {
    display: inline-block;
}

#clock-wrap {
    max-height: 64px;
}

@media (max-width: 787px) {
    #clock-wrap {
        max-height: 56px;
    }
}

#clock {
    color: white;
    font-size: 28px;
}

#players {
    margin-top: 30px;
}

#players.center ul {
    justify-content: center;
}

.brand-logo, h2, h1 {
    font-family: 'Monoton', cursive;
}

.preloader-wrapper.tiny {
    width: 16px;
    height: 16px;
}

.progress {
    background: linear-gradient(120deg, rgba(0,255,0,1) 0%, rgba(255,0,0,1) 100%);
    animation: huerot 5s linear infinite;
}

#waiting-for-players-row {
    margin-bottom: 0;
    margin-top: 30px;
}

.chip {
    position: relative;
    margin-bottom: 10px;
    white-space: nowrap;
}

.player-btn-wrap.away, .chip.away {
    opacity: 0.3;
    filter: grayscale(40%) blur(2px);
}

.chip span {
    max-width: calc(90vw - 74px);
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    margin: 0;
}

.player-btn {
    cursor: pointer;
    border-color: #e4e4e4;
    border-style: solid;
    z-index: 2;
}

.player-btn-wrap.away button {
    cursor: not-allowed;
}

.player-btn span {
    max-width: calc(50vw - 122px);
}

.player-btn.cyan {
    border-color: #00bcd4;
}

.player-btn:hover {
    border-color: #e72d2d;
}

.player-btn-wrap::before {
    content: 'U';
    font-family: 'Monoton', cursive;
    font-size: 13px;
    color: white;
    background: linear-gradient(120deg, rgba(0,255,0,1) 0%, rgba(255,0,0,1) 100%);
    animation: huerot 5s linear infinite;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    padding-left: 11px;
    text-align: left;
    vertical-align: top;
    line-height: 34px;
    margin-right: -28px;
    z-index: -1;
    display: none;
}

.player-btn-wrap.said-unu::before {
    display: inline-block;
}

.player-btn-wrap.winner::before {
    display: inline-block;
    content: '⭐';
    font-size: inherit;
    padding-left: 9px;
}

.player-btn-wrap.away button {
    cursor: not-allowed;
}

.fixed-action-btn {
    z-index: 10001;
}

#say-uno-btn span {
    font-family: 'Monoton', cursive;
    font-size: 30px;
    line-height: 60px;
}

.card-count {
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 10px;
    line-height: 18px;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #00bcd4 !important;
    box-shadow: 0 1px 0 0 #00bcd4 !important;
}

.input-field input[type=text]:focus + label {
    color: #00bcd4 !important;
}

.chip .material-icons {
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 4px;
}

.chip .material-icons.reverse {
    float: left;
    padding-left: 0;
    padding-right: 4px;
}

.win-count {
    background: linear-gradient(120deg, rgba(0,255,0,1) 0%, rgba(255,0,0,1) 100%);
    color: white;
    padding: 0 10px 0 36px;
    margin-left: -34px;
    border-radius: 16px;
    white-space: nowrap;
    animation: huerot 5s linear infinite;
    line-height: 32px;
    vertical-align: top;
    z-index: -1;
    height: 32px;
    display: inline-block;
    margin-right: 5px;
}

#toast-container {
    right: 50%;
    transform: translateX(50%);
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.toast {
    font-size: 14px;
    text-align: center;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}

#confetti {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

#turn {
    text-align: center;
    background-image: linear-gradient(120deg, rgba(0,255,0,1) 0%, rgba(255,0,0,1) 100%);
    color: white;
    animation: huerot 5s linear infinite;
    height: 0;
    transition: height 0.3s ease-in-out;
    font-family: 'Monoton', cursive;
    font-size: 3.56rem;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

#turn marquee {
    width: 100%;
}

#turn.active {
    height: 90px;
}

@media (max-width: 787px) {
    #turn {
        font-size: 1.6rem;
    }
    #turn.active {
        height: 40px;
    }
}

#end-game-modal.modal .modal-content {
    padding-bottom: 0;
}

/* Color Picker */
#color-picker-modal {
    position: fixed;
    z-index: 10002;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: none;
}
#color-picker-modal.active {
    display: block;
}
#color-picker-bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-image: linear-gradient(120deg, rgba(0,255,0,.7) 0%, rgba(255,0,0,.7) 100%);
    animation: huerot 5s linear infinite;
}
#color-picker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 242px;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: white;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
    text-align: center;
    z-index: 2;
}
#color-picker h5 {
    margin-top: 0;
    margin-bottom: 15px;
}
#color-picker .btn-wrap {
    margin-top: 15px;
}
#color-picker input[type="radio"] {
    display: none;
}
#color-picker input[type="radio"]:checked + label span {
    transform: scale(1.25);
    border: 2px solid black;
}
#color-picker label {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}
#color-picker label:hover span {
    transform: scale(1.25); 
}
#color-picker span {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform .2s ease-in-out;
}
#color-picker span.blue {
    background-color: #1E90FF;
}
#color-picker span.green {
    background-color: #32CD32;
}
#color-picker span.yellow {
    background-color: #FFD700;
}
#color-picker span.red {
    background-color: #e72d2d;
}

/* Default card */
.card{
    display: block;
    padding: 0;
    line-height: 1.4;
    text-align: left;
    width: 18vmin; /* 9:16 aspect ratio*/
    height: 32vmin;
    border: 5px solid black;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-position: center;
    transition: filter .25s;
    filter: grayscale(0%) blur(0px);
    /* not availabe, https://developer.mozilla.org/en-US/docs/Web/CSS/attr#Browser_compatibility
    background-color: attr(data-color color); */
    
    user-select: none;
    cursor: pointer;
    margin: 10px;
    /* Gradient default cards */
    background-image: radial-gradient(circle, rgba(255,0,0,0) 28%, rgba(0,0,0,1) 42%, rgba(255,255,255,1) 43%, rgba(0,0,0,1) 44%, rgba(255,0,0,0) 45%, rgba(255,0,0,0) 73%, rgba(0,0,0,1) 74%, rgba(255,0,0,0) 75%);;
}

.card:focus {
    box-shadow: 0 0 8px 8px #00bcd4;
}


/* Numbers in the corners */
.card::before, .card::after{
    content: attr(data-number);
    position: absolute;
    font-size: calc(18vmin / 6.6);/*4vmin;*/
    line-height: 1;
}
.card::before{
    bottom:2px;
    left:4px;
    transform: rotate(180deg);
}
.card::after{
    top:2px;
    right:4px;
}

/* Number in the center*/
.card > span{
    position: absolute; 
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
    font-family: 'Monoton', cursive;
    font-size: calc(18vmin / 2.6);
}

#draw.card > span {
    font-size: calc(18vmin / 3.2);/*8vmin;*/ /* fits fine for three letters */
}


.card[data-color="blue"]{
    background-color: #1E90FF;
}
.card[data-color="green"]{
    background-color: #32CD32;
}
.card[data-color="yellow"]{
    background-color: #FFD700;
}
.card[data-color="red"]{
    background-color: #e72d2d;
}

.card[data-color="wild"] {
    background-image: radial-gradient(circle, rgba(255,0,0,0) 28%, rgba(0,0,0,1) 42%, rgba(255,255,255,1) 43%, rgba(0,0,0,1) 44%, rgba(255,0,0,0) 45%, rgba(255,0,0,0) 73%, rgba(0,0,0,1) 74%, rgba(255,0,0,0) 75%), linear-gradient(120deg, rgba(0,255,0,1) 0%, rgba(255,0,0,1) 100%);

    animation: huerot 5s linear infinite;
}
.card[data-color="wild"]>span{
    color: rgba(0,200,100,1);
    text-shadow: 0 0 10px #000000;
}


@keyframes huerot {
    0%{filter: hue-rotate(0deg);}
    100%{filter: hue-rotate(360deg);}
}



.card.notavail{
    filter: grayscale(40%) blur(2px);
    cursor: not-allowed;
}



/* the two piles in the center*/
#piles{
    display: flex;
    justify-content: center;
}

#piles > *{
    box-shadow: 10px 15px, 8px 12px, 6px 9px, 4px 6px;
    margin: 2vmin;
}

#piles > *:focus{
    box-shadow: 10px 15px #00bcd4, 8px 12px #00bcd4, 6px 9px #00bcd4, 4px 6px #00bcd4;
}

/* Draw pile */
#draw{
    background-size: calc(18vmin * 3) 32vmin;/* 56vmin 32vmin */
    background-image: radial-gradient(rgba(236,255,0,1) 41%, rgba(255,255,255,1) 43%, rgba(0,0,0,1) 44%, rgba(255,192,0,1) 45%, rgba(255,0,0,1) 60%, rgba(0,0,0,1) 75%);
    cursor: pointer;
}

#card-count{
    position: absolute; 
    top: 70%;
    width: 100%;
    text-align: center;
    transform: translate(0, -50%);
    font-size: calc(18vmin / 6);/*4vmin;*/
}



#discardpile{
    transition: background .3s;
    cursor: default;
}

#discardpile>*{
    pointer-events: none; /* enables drop on children */
}

/*  */
#discardpile.dropoption{
    background: lightgrey;
}
#discardpile.dropoption>span,
#discardpile.dropoption::before,
#discardpile.dropoption::after{
    color: transparent;
}

#discardpile.dropoption>span{
    border: 5px dashed black;
    text-shadow: none;
    width: 75%;
    left: calc( (25% - 10px) / 2 );
}

#discardpile.dropoption>span::after{
    color: black;
    visibility: visible;

    content: "\00000aDrop Card";
    white-space: pre;
    font-size: calc(18vmin / 10);
}



/* My cards */
#overflowbox{
    padding: 15px;
    width: 100vw;
    border-top: 2px solid black;
    margin-top: 15px;
}

#mycards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.droparea{
    --drop-border-color: grey;
    --drop-background-color: lightgrey;

    height: 32vmin;/*32vmin;*/
    width: 4vmin;
    margin: 0px 5px;
    border-width: 2px;
    border-color: grey;
    border-style: dashed;
    background: lightgrey;
    opacity: 0;
    transition: opacity .3s;
    /* disable drag-drop reorder */
    display: none;
}

.droparea.dropoption{
    opacity: 1;
}

